.main-container{
	padding-bottom: 80px;
}
.config-panel{
	width:40%;
	overflow: hidden;
	float: left;
	padding: 4px;
}
.config-panel table{
	table-layout: fixed;
	width:100%;
	border:1px solid #ddd;
}
.config-panel td{
	white-space: nowrap;
	padding: 2px;
}
.config-panel .attr-name{
	font-weight: bolder;
	line-height: 16px;
	background: #eee;
	border:1px solid #ddd;
	padding: 2px;
}
.config-panel .sub-attr-name{
	/*text-align: right;*/
}
.config-panel .large-area{
	width:98%;
	margin:0px auto;
	height:200px;
}
.preview-pane{
	float: right;
	width:56%;
}
.preview-pane .preview-inner{
	padding: 4px;
}
.preview{
	width:100%;
	height:300px;
	border:1px solid #ccc;
	display: block;
}
.btn-pane{
	text-align: center;
	position: fixed;
	width:100%;
	height: 40px;
	bottom: 0px;
	z-index: 100;
	background: #fff;
	border-top: 1px solid #ccc;
}
#J_btnGen{
	font-size: 14px;
	height:30px;
	width:100px;
	margin-top:5px;
}
.warn{
	font-size: 12px;
	color:red;
	font-weight: normal;
}
.banner{
	font-size: 20px;
	font-family: Microsoft Yahei;
	color:#444;
}

.split{
	background: #f7f7f7;
	color:#444;
}
.clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
}
.clearfix{
      *zoom:1;
}
.main-container .iColorPicker{
	width:40px;
}
.nav{padding:10px 3px 0px;}
.nav li a,.nav li a:hover{color:#444;text-decoration: none;}
.nav .active a,.nav .active a:hover{color:#fff;}